<!DOCTYPE html>
<html ng-app="dilmaApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Gerador de discurso da Dilma</title>

        <!-- Bootstrap -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container" ng-controller="Controller as ctrl">
            <p class="lead text-center">Gerador automático de discursos da Dilma </p>
            <div class="media-middle">
                <img src="img/dilma.jpg" class="img-responsive img-rounded center-block" alt="foto da presidenta">
            </div>
            <br>
            <br>
            <div style="margin: auto; width: 50%;">
                <button class="btn btn-primary btn-lg btn-block" type="button"
                ng-click="ctrl.geraDiscurso()">
                    Outro discurso!
                </button>
            </div>
            <br>
            <br>
            <div>
                <blockquote>
                    <p>{{ctrl.discurso}}</p>
                </blockquote>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>
